<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <h1>CodeBook</h1>
<div th:switch="${userID}">
    <h2 th:case="null">no user logged in</h2>
    <div th:case="*">
        <h2 th:text="'id: ' + ${userID}"></h2>
    </div>
</div>
<a href="/login">Login</a>
<br>

<a href="/registration">Register Here</a>
<br>

<a href="/workplaces">Workplaces</a>
<div th:each="student : ${students}">
    <p th:text="${student}"></p>
</div>

</body>
</html>