<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <h1>CodeBook</h1>

    <a href="/registration">Register Here</a>
    <br>

    <a href="/workplaces">Workplaces</a>
    <div th:each="student : ${students}">
        <p th:text="${student.name} + ', ' +  ${student.email} + ', '
                    + ${student.phonenumber} + ', ' + ${student.workplacefeedback} + ', '
                    + ${query.getKlassForStd(student.klass.id)} + ', '
                    + ${query.getWorkplaceForStd(student.workplace.id)}">

        </p>
    </div>

</body>
</html>