<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Registration
</h1>
<form action="/login" method="post">
    <label>
        Name:
    </label>
    <input required name="name">
    <br>
    <label>Password:
        <input required id="password" type="password" name="password"/>
    </label>
    <br>
    <label>Confirm Password:
        <input required id="confirm_password" name="confirm_password" type="password"/>
        <span id="message"></span>
    </label>
    <button id="submit" type="submit" value="registration">Submit</button>
</form>
</body>
</html>