<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | CodeBook</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

</head>
<body>
    <h1>
        Login
    </h1>
    <div th:text="${onError}"></div>
    <form action="/login" method="post">
        <label>
            Email:
        </label>
        <input required name="email">
        <br>
        <label>Password:
            <input required id="password" type="password" name="password"/>
        </label>
        <br>
        <button id="submit" type="submit" value="registration">Submit</button>
    </form>
    <div th:replace="footer.html :: copy"></div>
</body>
</html>