<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script defer src="/static/js/message.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<h1 th:text="@{'message between ' + ${student1.name} + ' and ' + ${student2.name}}"></h1>
<form th:action="@{'/message/' + '?id=' + ${student2.Id}}" method="post">
    <label>
        Message:
    </label>
    <input type="text" id="message" name="message"/>
    <br>
    <br>
    <button id="submit" type="submit" value="send">Send</button>
</form>
<br>
<br>



<div id="message-container">

</div>


<a href="/">Back To Homepage</a>
</body>
</html>