<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Registration | CodeBook</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>

    <script src="/static/js/script.js" defer></script>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">

</head>

<body>
    <h1>Welcome to CodeBook</h1>
    <h2>Registration</h2>
        <div class="registration">
            <form action="/registration" method="post">
                <div id="name">
                    <label for="name">Name:</label>
                    <input type="text" name="name" minlength="2" required/>
                </div>
                <div id="phonenumber">
                    <label  class="input_label">Phone No.:</label>
                    <input  name="phonenumber"/>
                </div>
                <div>
                    <label  class="input_label">E-mail:</label>
                    <input required name="email" type="email"/>
                </div>
                <span id="message"></span>
                <div>
                    <label class="input_label">Password:</label>
                    <input id="password" type="password" name="password" required />
                </div>
                <div>
                    <label  class="input_label">Confirm Password:</label>
                    <input id="confirm_password" type="password" name="confirm_password" onkeyup="checkPassword()" required />
                </div>

                <button id="submit" type="submit" value="registration" class="btn btn-success" disabled >Register</button>
            </form>
        </div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>