<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${student.name} + ' | CodeBook'"> </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

</head>
<body>
    <h1>Student Informations</h1>
    <div th:text="${student.name}"></div>
    <div th:text="${student.email}"></div>

<h2>Workplace:</h2>
<div th:switch="${workplace}">
    <p th:case="'No Workplace'">No Workplace for this User</p>
    <div th:case="*">
        <a th:href="@{'/workplace/' + '?id=' + ${workplace.Id}}" th:text="${workplace.name}"></a>
    </div>
</div>


<h2>Class:</h2>
<div th:switch="${klass}">
    <p th:case="'No Klass'">No Class for this User</p>
    <div th:case="*">
        <p th:text="${klass.name}"></p>
    </div>
</div>
    <div th:replace="footer.html :: copy"></div>

</body>
</html>
