header {
    padding: 0 30px;
}

header > * {
    display: inline-block;
    float: left;
}

#header-logo {
    width: 40px;
    padding: 10px;
}

#header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;

    margin: 0;
    padding: 0 6px;
}

#header-auth {
    float: right;

    margin: 15px;
}

.header-content {
    float: left;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;

    margin: 0;
    padding: 0 16px;

    text-shadow: 0 0 4px rgba(255, 255, 255, .3), 0 0 6px rgba(255, 255, 255, .2);

}

.button {
    color: white;
}

.button:visited {
    color: white;
}

.button:hover {
    text-decoration-line: none;
}
