<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Set Details | Codebook</title>

    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="css/detailedView.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <script src="js/script.js" defer></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">
</head>
<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="assets/codecoolLogo.png" alt="Codecool Logo">
        <span id="header-title" class="title"><a class="button" href="/">
            CodeBook</a>
                </span>
        <a class="header-content title button" href="/">Students</a>
        <a class="header-content title button" href="/workplaces">Workplaces</a>
        <div id="header-auth">
            <div th:if="${user == null}">

                <button type="button" id="bt_login" ><a class="button" href="/login">Login</a></button>

                <button type="button" id="bt_register" ><a class="button" href="/registration">Register Here</a></button><br>
            </div>
            <div th:if="${user != null}">
                <button type="button" id="bt_logout" ><a class="button" href="/logout">Logout</a></button>
            </div>
        </div>
    </header>

    <section>
        <div class="card">
            <textarea id="id" th:text="${student.id}" hidden></textarea>
            <p class="form-element">
                <div class="name">name:</div>
                <textarea id="name" th:text="${student.name}"></textarea>
            </p>
            <p class="form-element">
                <div class="phone">phone:</div>
                <textarea id="phone" th:text="${student.phonenumber}"></textarea>
            </p>
            <p class="form-element" th:switch="${student.workplace}" onchange="checkWorkplace()">
                <select id="form-control-null" th:case="null">
                    <option th:each="workplace : ${workplaces}" th:attr="value = ${workplace.name}" th:text="${workplace.name}"></option>
                    <option value="none" selected>None</option>
                </select>
                <select id="form-control" th:case="*">
                    <option th:each="workplace : ${workplaces}" th:attr="value = ${workplace.name}" th:text="${workplace.name}" th:selected="${workplace.name == student.workplace.name}"></option>
                    <option value="none">None</option>
                </select>
            </p>
            <p class="form-element" th:if="${student.workplace != null}">
                <div id="onFalse" hidden>This feedback will be deleted automatically</div>
                <div class="feedback">feedback:</div>
                <textarea id="feedback" th:text="${student.workplaceFeedback}"></textarea>
            </p>
            <p class="text-center">
                <a class="btn btn-success" onclick="saveStudent()">Save</a>
            </p>

        </div>
    </section>
    <footer>
        All rights to the design belong to Daniel Salamon.
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>