<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title th:text="${#strings.capitalize(student2.name)}"></title>

    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="css/detailedView.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script defer src="js/message.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="assets/codecoolLogo.png" alt="Codecool Logo">
        <span id="header-title" class="title"><a class="button" href="/">
            CodeBook</a>
                </span>
        <a class="header-content title button" href="/">Students</a>
        <a class="header-content title button" href="/workplaces">Workplaces</a>
        <div id="header-auth">
            <div>
                <button type="button" id="bt_logout" ><a class="button" href="/logout">Logout</a></button>
            </div>
        </div>
    </header>
    <section>
    <div class="card">
        <h2 class="title text-center"><a th:href="@{'/student?id=' + ${student2.id}}"
           th:text="${#strings.capitalize(student2.name)}"></a></h2>
    </div>
    <div class="card">
        <div id="message-container">
            <!--JavaScript Magic-->
        </div>
        <div class="msg-field form-element">
            <form th:action="@{'/message' + '?id=' + ${student2.id}}" method="post">
                <input type="text" id="message" name="message"/>
                <button id="submit" type="submit" value="send">Send</button>
            </form>
        </div>
    </div>
    </section>

    <footer>
        All rights to the design belong to Daniel Salamon.
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>